
/* Home */
.my-container {
    width: 98vw;
    height: 98vh;
}
.col-search-comp {
    border-right: 1px solid black;
    display: inline-block;
    vertical-align: top;
    padding-bottom: 20px;
}
    .section-search {
        border-bottom: 1px solid black;
        padding: 20px;
    }
    .section-search-results {
        padding: 20px;
    }
.col-favorites-comp {
    display: inline-block;
    vertical-align: top;
}
.favorites-header {
    display: block;
}
    .section-fav-posts {
        padding: 10px;
    }
/* end Home */

/* Section - Search */
.search-by {
    display: inline-block;
}
.search-input {
    display: block;
    vertical-align: top;
    margin: 20px 0;
}
.search-blog {
    vertical-align: top;
}
.search-tag {
    vertical-align: top;
}
.btn-search {
    padding: 3px 40px;
}
/* end Section - Search */

/* Section - Search Results */
.each-search-result {
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 95%;
}
.each-search-result-content {
    width: 95%;
}
.img-search-result {
    width: 95%;
}
/* end Section Search Results */

/* Section - Favorite Posts */
.each-fav-post {
    border: 1px solid black;
    border-radius: 5px;
    margin: 50px 10px;
    padding: 10px;
}
.each-fav-post-content {
    width: 95%;
}
.img-fav-post {
    width: 100%;
}
.post-text {
    max-height: 350px;
}
/* end Section - FavoritePosts */

/* Misc */
img {
    width: 95%;
}
figure {
    width: 95%;
}
video {
    width: 95%;
}
iframe {
    width: 95%;
}
p {
    width: 95%;
}
/* end Misc */
